.banner {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.overly {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}
.title-section {
  text-align: center;
  margin: 40px;
}
.title-section span {
  position: relative;
  display: inline-block;
}
.title-section span::before {
  content: "";
  width: 40px;
  height: 4px;
  border-radius: 15px;
  background-color: #c24de8;
  position: absolute;
  top: 13px;
  right: -50px;
}
.title-section span::after {
  content: "";
  width: 40px;
  height: 4px;
  border-radius: 15px;
  background-color: #c24de8;
  position: absolute;
  top: 13px;
  left: -50px;
}
.category {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.category-item {
  color: black;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s;
}
.category-item:active,
.category-item:visited {
  color: black;
}
.category-item:hover {
  background-color: #fafafa;
}
.category-img {
  max-width: 100%;
  height: auto;
  margin-bottom: -10px;
}
.category-caption {
  text-align: center;
  font-weight: 500;
  margin-bottom: 5px;
}
.aboutus {
  width: 90%;
  margin: 0 auto;
  height: 500px;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.about-img {
  width: 500px;
  height: 400px;
  overflow: hidden;
  @supports (corner-shape: squircle) {
    border-radius: 80px;
    corner-shape: squircle;
  }
  box-shadow: 1px 5px 44px 0px #7a7a7a;
}
.about-caption {
  width: 50%;
  height: 400px;
}
.about-caption h4 {
  font-size: 24px;
  margin: 12px;
}
.about-caption p {
  font-size: 18px;
  text-align: justify;
}
.about-caption button {
  color: white;
  background-color: #7c3aed;
  padding: 8px 25px;
  border: none;
  border-radius: 8px;
  margin: 20px 10px;
  cursor: pointer;
  transition: 0.2s;
}
.about-caption button:hover {
  background-color: #884dee;
}
